<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="template.xhtml">
	<ui:define name="conteudo">
		<h:form id="formCadProduto">
			<h3 class="mt-4">Cadastro de produto</h3>
			<div class="ui-fluid">
				<div class="p-field mb-3">
					<strong><p:outputLabel for="nome" value="Nome *" /></strong>
					<p:inputText id="nome" value="#{produtoBean.produto.nome}" />
				</div>
				<div class="p-field mb-3">
					<strong><p:outputLabel for="descricao" value="Descrição *" /></strong>
					<p:inputTextarea id="descricao"
						value="#{produtoBean.produto.descricao}" />
				</div>
				<div class="p-field mb-3">
					<strong><p:outputLabel for="precoCompra"
							value="Preço de Compra *" /></strong>
					<p:inputNumber id="precoCompra"
						value="#{produtoBean.produto.precoCompra}" decimalPlaces="2" />
				</div>
				<div class="p-field mb-3">
					<strong><p:outputLabel for="precoVenda"
							value="Preço de Venda *" /></strong>
					<p:inputNumber id="precoVenda"
						value="#{produtoBean.produto.precoVenda}" decimalPlaces="2" />
				</div>
				<div class="p-field mb-3">
					<strong><p:outputLabel for="categoria" value="Categoria *" /></strong>
					<p:selectOneMenu id="categoria"
						value="#{produtoBean.produto.categoriaId}">
						<f:selectItem itemValue=""
							itemLabel="--- Selecione uma Categoria ---" />
						<f:selectItems value="#{produtoBean.listaCategorias}"
							var="categoria" itemLabel="#{categoria.nome}"
							itemValue="#{categoria.id}" />
					</p:selectOneMenu>
				</div>
				<div class="p-field">
					<strong><p:outputLabel for="qtdEstoque"
							value="Quantidade em Estoque *" /></strong>
					<p:inputNumber id="qtdEstoque"
						value="#{produtoBean.produto.quantidadeEstoque}" decimalPlaces="0" />
				</div>
			</div>
			<p:commandButton styleClass="btn btn-primary mt-4 mb-5"
				value="Cadastrar" actionListener="#{produtoBean.cadastrarProduto}"
				update="formCadProduto" />
		</h:form>
	</ui:define>
</ui:composition>
