<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="ApplicationResources" var="bundle" />

<h:head>
	<title><h:outputText value="#{bundle.tituloAplicacao}" /></title>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/template.css" />
</h:head>
<h:body>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light nav-sysvarejo">
		<h:link styleClass="navbar-brand color-blue-dark" value="SYSVarejo"
			outcome="index" />
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item"><h:link
						styleClass="nav-link text-secondary" value="Adicionar produtos"
						outcome="produto" /></li>
				<li class="nav-item"><h:link
						styleClass="nav-link text-secondary" value="Realizar venda"
						outcome="venda" /></li>
			</ul>
		</div>
	</nav>

	<p:messages id="messages" showDetail="true" autoUpdate="true"
		closable="true" styleClass="mt-2 mb-2" />

	<div class="container">
		<ui:insert name="conteudo" />
	</div>
</h:body>
</html>