<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="template.xhtml">

	<ui:define name="conteudo">
		<h3 class="mt-4 mt-3">Realizar venda</h3>
		<h:form id="formVenda">
			<p:panel id="toggleProduto" styleClass="mb-3" header="Produto(s)"
				toggleable="true" toggleSpeed="500" widgetVar="panel1">
				<div class="d-flex">
					<div class="flex-grow-1">
						<div>
							<strong><p:outputLabel
									value="Adicionar produto(s) à venda" /></strong>
						</div>
						<div>
							<p:commandButton value="Adicionar" update="dialogProduto"
								type="button" onclick="PF('dialog').show();" />
						</div>
					</div>
					<div class="flex-grow-1">
						<strong><p:outputLabel value="" /></strong>
						<h:panelGroup id="listaSelecionados">
							<p:dataList value="#{vendaBean.listaProdutosSelecionados}"
								var="produtoVenda" emptyMessage="Nenhum produto selecionado">
								<f:facet name="header">Produtos selecionados</f:facet>
						        #{produtoVenda.produto.nome} | QTD: #{produtoVenda.quantidade}
						    </p:dataList>
						</h:panelGroup>
					</div>
				</div>
				<p:dialog id="dialogProduto" header="Selecionar produto"
					widgetVar="dialog" modal="true" height="300" width="500">
					<div class="ui-fluid">
						<div class="p-field mb-3">
							<p:outputLabel for="selectProduto" value="Selecione o produto:" />
							<p:selectOneMenu id="selectProduto"
								value="#{vendaBean.produtoVenda.produto}" var="p" filter="true"
								filterMatchMode="contains">
								<f:selectItem itemValue="" itemLabel="" />
								<f:selectItems value="#{vendaBean.listaProdutos}" var="produto"
									itemLabel="#{produto.nome}" itemValue="#{produto}" />
								<p:column>
									<h:outputText value="#{p.nome}" />
								</p:column>
							</p:selectOneMenu>
						</div>
						<div class="p-field mb-3">
							<p:outputLabel for="qtdVendaProduto" value="Quantidade:" />
							<p:inputNumber id="qtdVendaProduto"
								value="#{vendaBean.produtoVenda.quantidade}" decimalPlaces="0" />
						</div>
						<p:commandButton styleClass="btn btn-primary mt-4 mb-5"
							value="Salvar produto"
							actionListener="#{vendaBean.selecionarProduto}"
							update="listaSelecionados, panelTotal"
							oncomplete="PF('dialog').hide();" />
					</div>
				</p:dialog>
			</p:panel>

			<p:panel id="toggleCliente" styleClass="mb-3" header="Cliente"
				toggleable="true" toggleSpeed="500" widgetVar="panel2">
				<div class="ui-fluid">
					<div class="p-field mb-3">
						<strong><p:outputLabel for="nomeCliente"
								value="Nome Cliente *" /></strong>
						<p:inputText id="nomeCliente" value="#{vendaBean.cliente.nome}" />
					</div>
					<div class="p-field mb-3">
						<strong><p:outputLabel for="cpf" value="CPF *" /></strong>
						<p:inputMask id="cpf" mask="999.999.999-99"
							value="#{vendaBean.cliente.cpf}" />
					</div>
					<div class="p-field mb-3">
						<strong><p:outputLabel for="telefone" value="Telefone" /></strong>
						<p:inputMask id="telefone" mask="(99) 99999-9999"
							value="#{vendaBean.cliente.telefone}" />
					</div>
					<div class="p-field mb-3">
						<strong><p:outputLabel for="email" value="Email" /></strong>
						<p:inputText id="email" value="#{vendaBean.cliente.email}" />
					</div>
				</div>
			</p:panel>

			<div class="p-field">
				<strong><p:outputLabel for="desconto" value="Desconto (%)" /></strong>
				<div class="ui-inputgroup">
					<p:inputNumber id="desconto" value="#{vendaBean.desconto}"
						decimalPlaces="2" />
					<p:commandButton value="Calcular Total" styleClass="green-button"
						update="panelTotal" actionListener="#{vendaBean.calcularDesconto}" />
				</div>
			</div>

			<hr />
			<h:panelGroup id="panelTotal">
				<div>
					<strong><p:outputLabel value="Total dos Produtos:" /></strong>
					<p:outputLabel value="R$ #{vendaBean.valorTotalProdutos}" />
				</div>
				<div>
					<strong><p:outputLabel value="Desconto:" /></strong>
					<p:outputLabel value="#{vendaBean.desconto} %" />
				</div>
				<div>
					<strong><p:outputLabel value="Total da Venda:" /></strong>
					<p:outputLabel value="R$ #{vendaBean.valorTotalVenda}" />
				</div>
			</h:panelGroup>
			<hr />

			<p:commandButton styleClass="btn btn-primary mt-4 mb-5"
				value="Finalizar Venda" action="#{vendaBean.finalizarVenda}"
				update="formVenda" />
		</h:form>
	</ui:define>
</ui:composition>
