@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body,
html {
  background-color: #f8f8f8 !important;
  font-family: "Roboto Condensed", "Open Sans", sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
}

hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.module-auth form {
  width: 400px;
  border: 1px solid rgba(34,36,38,.15);
}

.module-auth img {
  width: 200px;
  margin: 10px 0 40px;
}

.module-auth h4 {
  color: #25466D;
}
